.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.dropbox
.Rapp.history
*_cache/
maps/output/
maps/iucn_data/
*.png
*.tif
*.grd
*.gri
.DS_Store
._.DS_Store
*.zip
*.prj
*.shp
*.dbf
*.shx
*.sbn
*.xml
*.sbx
*.cpg
Icon
