.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.dropbox
.Rapp.history
*_cache/
shapefiles/mam/*
shapefiles/iucn_data/*
shapefiles/host_zg_area/*
shapefiles/*.zip
*.tif
*.grd
*.gri
*.zip
*.prj
*.shp
*.dbf
*.shx
*.sbn
*.xml
*.sbx
*.cpg
Icon

packrat/lib*/
